/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.banner {
  padding: 4rem 0;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-family: "Poppins";
  font-weight: 800;
  font-size: clamp(2rem, 5.5vw, 3.3rem);
}

.description {
  font-family: "Poppins";
  font-weight: 500;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--hero-description-text-color);
  font-size: clamp(17px, 3vw, 1rem);
}

.button {
  font-weight: 500;
  padding: 12px 25px;
  font-size: 18px;
}

.featureCard {
  background-color: var(--feature-card-background);
  padding: 10px;
  margin-bottom: 30px;
}

.featureCardIcon {
  margin-bottom: 20px;
}

.featureCardTitle,
.featureCardBody {
  font-family: "Poppins";
}

@media screen and (max-width: 966px) {
  .banner {
    width: 100%;
    padding: 2rem 1rem;
  }

  .description {
    width: 100%;
  }
}

@media screen and (max-width: 405px) {
  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.feature {
  margin-bottom: 4.5rem;
}

.feature:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .feature {
    margin-bottom: 1.5rem;
  }
}

.featureReverse {
  flex-direction: row-reverse;
}

.featureImage {
  height: 256px;
}

@media screen and (max-width: 768px) {
  .featureImage {
    height: 192px;
    margin-bottom: 1.5rem;
  }
}

.featureContent {
  display: flex !important;
  align-items: center;
}

.whiteboard {
  margin-top: 3rem;
}

[data-theme='dark'] .whiteboard {
  background: #fff;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .whiteboard {
    width: 80%;
    margin: 3rem auto 0;
  }
}

@media screen and (max-width: 768px) {
  .whiteboardCol {
    --ifm-col-width: calc(6 / 12 * 100%) !important;

    flex: 0 0 var(--ifm-col-width) !important;
    max-width: var(--ifm-col-width) !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .whiteboardCol {
    --ifm-col-width: calc(4 / 12 * 100%) !important;

    flex: 0 0 var(--ifm-col-width) !important;
    max-width: var(--ifm-col-width) !important;
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.logoWrapper img {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .logoWrapper {
    height: 100px;
  }
}
